// Sesja wizerunkowa

.imageSession-box-magda {
    background-image: url(../media/Realizacje/Wizerunkowa/Magda.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.imageSession-box-karolina {
    background-image: url(../media/Realizacje/Wizerunkowa/karolina.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.imageSession-box-maciej{
    background-image: url(../media/Realizacje/Wizerunkowa/Maciej.JPG);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 60%;
}

// MAGDA


div.magda {
    padding: 0;
}
.magda img {
    padding: 17px;
    width: auto;
    height: 300px;
}