* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
}
h3.subpage-head {
	font-family: "Italianno", cursive;
	font-size: 5rem;
	text-align: center;
}

// FONTS
// font-family: 'Beau Rivage', cursive;
// font-family: 'Estonia', cursive;
// font-family: 'Italianno', cursive;
// font-family: 'Moon Dance', cursive;
// font-family: "Poppins", sans-serif;
// font-family: "Tangerine", cursive;

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}
.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 3rem;
	text-transform: uppercase;
}

// Navigacja

nav {
	font-size: 1.5rem;
}
nav.navbar {
	background-color: #e4e0d2;
}
div.navbar-nav {
	text-transform: uppercase;
}

.fa {
	background-color: #fff;
}
.navLogo {
	border: 1.5px #8a846d solid;
	opacity: 0.2;
}
.logoText {
	font-family: "Tangerine", cursive;
	font-size: 2.8rem;
	margin-left: 8px;
}
.navbar-toggler {
	font-size: 3rem;
}
// MAIN LOGO

.mainLogoBox {
	padding-top: 15px;
	text-align: center;
	font-family: 'Italianno', cursive;
	background-color: #b4b2a831;
}
h2 {
	font-size: 7rem;
}

h3.logoName {
	font-size: 5rem;
}

// HEADER

header {
	font-size: 1.5rem;
}

// Home

.home-boxes {
	padding: 3em 0;
	background-color: #f7f1dc31;
}
.home-box i {
	font-size: 3rem;
	color: #a59d80;
}
.home-box h3 {
	font-size: 2.2rem;
}
.home-box p {
	font-size: 1.5rem;
}

// ABOUT Me

.aboutme-info {
	background-color: #a59d8031;
}
.aboutme-info .container {
	padding: 2em 0.5em;
}
.aboutme-text {
	padding: 1.8em;
}
.aboutme-text h3 {
	margin-bottom: 0.5em;
	font-size: 2.6rem;
	font-weight: bold;
	text-decoration: underline #8a846d;
	text-transform: uppercase;
}
.aboutme-text-right {
	// margin-top: 300px;
	text-align: right;
}
h3.aboutme-down {
	margin-top: 120px;
}
.aboutme-leftimg img {
	margin-top: 25px;
	height: 280px;
	width: 200px;
	box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.4);
}
.aboutme-img-mobile {
	height: 400px;
	width: 300px;
	object-fit: cover;
}

// REALIZACJE

// .realization {
// 	height: 500px;
// 	width: 100%;
// 	background-color: #f7f1dc31;
// }
.realization-text p {
	text-align: center;
	font-size: 1.5rem;
}
.realization a {
	text-decoration: none;
}
.realization-hero-box {
	position: relative;
	height: 350px;
	box-shadow: inset -2px 5px 10px -2px rgba(0, 0, 0, 0.4);
}
.realization-hero-box p {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 125px;
	height: 100px;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #ada890;
	z-index: 0;
}

.realization-hero-box.box-one {
	background-image: url(../media/Realizacje/wizerunkowa2.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.realization-hero-box.box-two {
	background-image: url(../media/Realizacje/lovestory.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.realization-hero-box.box-three {
	background-image: url(../media/Realizacje/produktowe.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.realization-hero-box.box-four {
	background-image: url(../media/Realizacje/sensualna.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.realization-hero-box.box-five {
	background-image: url(../media/Realizacje/reportaz.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.realization-hero-box.box-six {
	background-image: url(../media/Realizacje/kobieca.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}

// FOOTER

footer {
	background-color: #e4e0d2;
}
.footerText {
	font-family: "Tangerine", cursive;
	font-size: 2.2rem;
	margin-left: 4px;
}
a.footerSocials,
a.footerSocials:visited {
	margin: 0.1em;
	font-size: 1.8rem;
	color: #8a846d;
}
a.footerSocials:hover {
	color: #8a846d73;
}
.footerEmail {
	font-size: 1.2rem;
}
.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

@media (max-width: 600px) {
	.aboutme-leftimg {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.aboutme-leftimg img {
		width: 280px;
		height: 380px;
	}
	.aboutme-img-mobile {
		margin-top: 20px;
	}
	.aboutme-up {
		text-align: center;
	}
	.aboutme-down {
		text-align: center;
	}
}

@media (min-width: 600px) {
	.aboutme-info .container {
		padding: 0;
	}
	.aboutme-shadow {
		box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
	}
	.aboutme-text {
		padding: 5em 0;
		transform: skew(-5deg);
	}
	.aboutme-text-right {
		padding-left: 2em;
		text-align: left;
	}
	.aboutme-img {
		height: auto;
		transform: skew(-5deg);
	}
}

@media (min-width: 1200px) {
	.carousel-item {
		height: 700px;
	}
}
.carousel-img-one {
	background-image: url(../media/Header/MagdaBusiness.png);
}
.carousel-img-two {
	background-image: url(../media/Header/Ola&Sebastian.png);
}
.carousel-img-three {
	background-image: url(../media/Header/WomanSession.png);
}
