* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

// Navigacja

nav {
	font-size: 1.5rem;
}
nav.navbar {
	background-color: #e4e0d2;
}
div.navbar-nav {
	text-transform: uppercase;
}

.fa {
	background-color: #fff;
}
.navLogo{
	border: 1.5px #8a846d solid;
	opacity: .4;
}
.logoText {
	font-family: "Tangerine", cursive;
	font-size: 2.8rem;
	margin-left: 8px;
}
.navbar-toggler {
	font-size: 3rem;
}

// HEADER

header {
	font-size: 1.5rem;
}

.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url(../media/Header/MagdaBusiness.png);
}
.carousel-img-two {
	background-image: url(../media/Header/Ola&Sebastian.png);
}
.carousel-img-three {
	background-image: url(../media/Header/WomanSession.png);
}

@media (min-width: 1200px) {
	.carousel-item {
		height: 700px;
	}
}
