* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.top-hero {
  position: relative;
  height: 200px;
  background-size: cover;
  z-index: 0;
}

.top-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  text-transform: uppercase;
}

nav {
  font-size: 1.5rem;
}

nav.navbar {
  background-color: #e4e0d2;
}

div.navbar-nav {
  text-transform: uppercase;
}

.fa {
  background-color: #fff;
}

.navLogo {
  border: 1.5px #8a846d solid;
  opacity: 0.2;
}

.logoText {
  font-family: "Tangerine", cursive;
  font-size: 2.8rem;
  margin-left: 8px;
}

.navbar-toggler {
  font-size: 3rem;
}

.mainLogoBox {
  padding-top: 15px;
  text-align: center;
  font-family: "Italianno", cursive;
}

h2 {
  font-size: 7rem;
}

h3.logoName {
  font-size: 5rem;
}

header {
  font-size: 1.5rem;
}

.home-boxes {
  padding: 3em 0;
  background-color: rgba(247, 241, 220, 0.1921568627);
}

.home-box i {
  font-size: 3rem;
  color: #a59d80;
}

.home-box h3 {
  font-size: 2.2rem;
}

.home-box p {
  font-size: 1.5rem;
}

.aboutme-info {
  background-color: rgba(165, 157, 128, 0.1921568627);
}

.aboutme-info .container {
  padding: 2em 0.5em;
}

.aboutme-text {
  padding: 1.8em;
}

.aboutme-text h3 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: bold;
  -webkit-text-decoration: underline #8a846d;
          text-decoration: underline #8a846d;
  text-transform: uppercase;
}

.aboutme-text-right {
  text-align: right;
}

.aboutme-img-mobile {
  height: 400px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #e4e0d2;
}

.footerText {
  font-family: "Tangerine", cursive;
  font-size: 2.2rem;
  margin-left: 4px;
}

a.footerSocials,
a.footerSocials:visited {
  margin: 0.1em;
  font-size: 1.8rem;
  color: #8a846d;
}

a.footerSocials:hover {
  color: rgba(138, 132, 109, 0.4509803922);
}

.footerEmail {
  font-size: 1.2rem;
}

.carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

@media (min-width: 600px) {
  .aboutme-info .container {
    padding: 0;
  }
  .aboutme-shadow {
    box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .aboutme-text {
    padding: 5em 0;
    transform: skew(-7deg);
  }
  .aboutme-text-left {
    padding-right: 2em;
    text-align: right;
  }
  .aboutme-text-right {
    padding-left: 2em;
    text-align: left;
  }
  .aboutme-img {
    height: auto;
    transform: skew(-7deg);
  }
}
@media (min-width: 1200px) {
  .carousel-item {
    height: 700px;
  }
}
.carousel-img-one {
  background-image: url(../media/Header/MagdaBusiness.png);
}

.carousel-img-two {
  background-image: url(../media/Header/Ola&Sebastian.png);
}

.carousel-img-three {
  background-image: url(../media/Header/WomanSession.png);
}/*# sourceMappingURL=style.css.map */